{{>header}}
    <!-- header-end -->

    <!-- lets_launch_start -->
    <div class="lets_launch launch_bg_1 overlay2">
        <div class="launch_text text-center">
            <h2 class="text-white">Welcome to Horizon</h2>
            <h5>Your new favorite Internet Service Provider in Ghana. 
            Unleash Possibilities with the best Internet Service.
            </h5>
            
        </div>
    </div>
    <!-- lets_launch_end -->


    <!-- prising_area_start -->
    <div class="prising_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>
                            Choose your Unlimited Internet Plan
                        </h3>
                        <p>We have the most affordable and convenient offers
                             available for monthly purchases for all 
                             sorts of ventures and necessities.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_prising">
                        <div class="prising_icon blue">
                            <i class="flaticon-servers"></i>
                        </div>
                        <h3>Sonic</h3>
                        <p class="prising_text">Typically for large families who consume a lot of data. </p>
                        <p class="prise">GHS2150 for<span>8mbps</span></p>
                        <a href="#" class="boxed_btn_green2">Start Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_prising">
                        <div class="prising_icon lite_blue">
                            <i class="flaticon-hosting"></i>
                        </div>
                        <h3>Supersonic</h3>
                        <p class="prising_text">This offer is for small businesess</p>
                        <p class="prise">GHS3850 for<span>20mbps </span></p>
                        <a href="#" class="boxed_btn_green2">Start Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_prising">
                        <div class="prising_icon pink">
                            <i class="flaticon-wordpress"></i>
                        </div>
                        <h3>Ultrasonic</h3>
                        <p class="prising_text">Typically for medium sized businesses</p>
                        <p class="prise"> GHS7750 for <span>45mbps</span></p>
                        <a href="#" class="boxed_btn_green2">Start Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_prising">
                        <div class="prising_icon yellow">
                            <i class="flaticon-servers-1"></i>
                        </div>
                        <h3>Super Ultrasonic</h3>
                        <p class="prising_text">This offer is the choice of large businesses. </p>
                        <p class="prise"> GHS8350 for<span>65mbps</span></p>
                        <a href="#" class="boxed_btn_green2">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- prising_area_end -->

    <!-- core_features_start -->
    <div class="core_features">
        <div class="container">
            <div class="border-bottm">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="featuures_heading">
                            <h3>Why choose Horizon? </h3>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="featurest_tabs ">
                            <nav>
                                <div class="nav" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-home" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Know</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-profile" role="tab" aria-controls="nav-profile"
                                        aria-selected="false">Understand</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="single_features">
                                        <div class="icon"><i class="flaticon-browser"></i></div>
                                        <div class="features_info">
                                            <h4>
                                                Availability
                                            </h4>
                                            <p>We pride ourselves in our ability 
                                                to offer a wide coverage for internet service  </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="single_features">
                                        <div class="icon blue"><i class="flaticon-security"></i></div>
                                        <div class="features_info">
                                            <h4>
                                                Reliability
                                            </h4>
                                            <p>Our services are fully reliable. We 
                                             offer risk reliance strategies that cater 
                                             unforeseen issues.
                                              
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="single_features">
                                        <div class="icon"><i class="flaticon-like"></i></div>
                                        <div class="features_info">
                                            <h4>
                                                Service Level Agreement (SLA)
                                            </h4>
                                            <p>Our services as for your comfort and convenience, and you will realise This
                                                in our service levels. Our clients report of low downtimes and praise our 
                                                reliable services.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="single_features">
                                        <div class="icon blue"><i class="flaticon-lock"></i></div>
                                        <div class="features_info">
                                            <h4>
                                                Modes of Connectivity
                                            </h4>
                                            <p>We offer our services through fiber cable and radio signals. Where ever you
                                                are located, just give us a call and we will find a way provide internet through
                                                leased lines or our own cables </p>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- core_features_end -->

    <!-- dedicated_support_start -->
    <div class="dedicated_support support_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-8">
                    <div class="support_info">
                        <h3>24h Dedicated Support</h3>
                        <p>Our support staff are trained periodically to better understand your requests. </p>
                        <div class="get_started">
                            <a class="boxed_btn_green" href="#">
                                <span>Get in touch now</span>
                            </a>
                            <a href="#" class="phone_num">
                                +233 548 769 251
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- dedicated_support_end -->

    <div class="data_center_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>
                            Our Data Centres
                        </h3>
                        <p>As Ghanaian owned organization, our data center is located in the Greater Accra
                            region of Ghana, Tema, part of Ghana for safety and precautionary reasons. Due to this we have constant access to power supply 
                            and so we cannot fail you.

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="location">
                        <div class="pulse_group">
                            <span>
                                <div class="address_on_hover d-none d-lg-block">
                                    <div class="address_inner">
                                        <i class="fa fa-map-marker"></i>
                                        <h3>Accra, Ghana</h3>
                                    </div>
                                </div>
                            </span>
                            <span>
                                <div class="address_on_hover d-none d-lg-block">
                                    <div class="address_inner">
                                        <i class="fa fa-map-marker"></i>
                                        <h3>Accra, Ghana</h3>
                                        <p>It is a long established fact that <br>
                                            a reader</p>
                                    </div>
                                </div>
                            </span>
                            <span>
                                <div class="address_on_hover d-none d-lg-block">
                                    <div class="address_inner">
                                        <i class="fa fa-map-marker"></i>
                                        <h3>Accra, Ghana</h3>
                                        <p>It is a long established fact that <br>
                                            a reader</p>
                                    </div>
                                </div>
                            </span>
                            <span>
                                <div class="address_on_hover d-none d-lg-block">
                                    <div class="address_inner">
                                        <i class="fa fa-map-marker"></i>
                                        <h3>Accra, Ghana</h3>
                                        <p>It is a long established fact that <br>
                                            a reader</p>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <img src="../public/img/banner/map.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- faq_area_start -->
    <div class="faq_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="accordion_heading">
                        <h3>Frequently Asked Questions</h3>
                    </div>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="flaticon-info"></i> How can i apply for a package outside your stated packages?
                                        
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Yes you can, do contact us and lets have a chat about getting
                                    you a befitting customised plan.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <i class="flaticon-info"></i> Are there other <span>hosting services
                                           you offer now? </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
                                style="">
                                <div class="card-body">
                                     
                                    No please, but we will be expanding to other services soon.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <i class="flaticon-info"></i> How do i start cloud hosting?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    There are different kinds of cloud hosting that we will be 
                                    offering soon, you can take advantage of them when we start.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading_4">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                        <i class="flaticon-info"></i> Why do i need to select an internet service plan?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_4" class="collapse" aria-labelledby="heading_4" data-parent="#accordion">
                                <div class="card-body">
                                    People have different needs and can afford different plans. Hence we created these categorized 
                                    plans to make choosing easire for you.
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq_area_end -->


    

{{>footer}}
